.bg-light {
  background-color: blue !important;
 
}
.navbar-light .navbar-brand{
  color:white !important
}

.navbar-light .navbar-nav .nav-link.active{
  color:white !important;
  /* background-color:black !important */
}

.active{
  background-color:black !important
}

.d-flex{
  color:white !important
}